/*一般设置*/
html,
body{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color:gray;
}


/*整体布局*/
nav {
  font-size:5px;
  border-bottom:1px black solid;
  display: flex;
  margin-bottom: 10px;
  height:50px;
    
}

main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  font-size:15px;
}
 
footer {
  height:82px;
  color:white;
  background-color:black;
}


/*主体*/
  /*主栏*/
section {
  flex: 2.5; 
}

.pi{
  color:black;
}

section>div,
section>div>div{
  display:flex;
}

.text{
  width:160px;
  font-size:10px;
}

.scene{
  width:80px;
  height:80px;
}

.pa{
  background-color:rgb(241, 241, 241) ;
  margin:10px;
  border-radius:10px;
}

section .box p{
  margin-right:40px;
}

section .box a:hover{
  color:black;
}

section div span{
  display:flex;
  border-bottom:1px gray solid;
  padding-bottom:20px;
}

.head{
  width:30px;
  height:30px;
  position:relative;
  margin-top:20px;
  border-radius:50%;
}
/*
.float{
  opacity:0;
  position:absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.head:hover .float{
  opacity:1;
}*/

.picture{
  height:90px;
  width:150px;
  position:relative;
  margin-top:20px;
  margin-left:300px;
  border-radius:5px;
}

.word{
  position: relative;
  margin-left:15px;
}






  /*侧边栏*/
aside {
  
  /*border:1px solid black;*/
  
  margin-left:40px;
  margin-top:30px;
  width:500px;
  height:300px;
  border-radius:15px;
  box-shadow:0px 0px 1px 1px rgb(232, 232, 232);  
}

table {
  margin:0 auto;
  padding: 10px;
}

table a{
  color:gray;
}

table+div p:first-child{
  color:rgb(0, 200, 255);
  font-size:80%;
}

table+div{
  background-color:rgb(241, 241, 241);
  margin:10px;
}

aside>p{
  color:white;
}



/*导航*/
#p1{
  width:30px;
  height:30px;
  margin-top:10px;
  margin-left:60px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li{
  font-size:15px;
  margin:10px 12px;
}

.store{
  color:orange;
}

nav a:hover {
  color: black;
  transition-duration: 200ms;
}
/*  
nav li {
  display: inline;
  text-align: center;
  flex: ;
}
  
nav a {
  display:flex;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
  transition-duration: 200ms;
}*/


  
nav form {
  margin-top:10px;
  margin-left:300px;
}
  
input {
  height:30px;
  width:200px;
  border-radius: 10px;
}
  
input[type="search"] {
  
}
  
input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}



/*页脚*/
footer div {
  text-align: center;
  vertical-align:middle;
}

/*返回键*/
.back-top{
  position: sticky;
  float: right;
  top: 500px;
  height: 0px;
  right: 10px;
}

.back-top>a{
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 80px;
  border-radius: 50px;
  color:gray;
  background-color:white;
  box-shadow:0px 0px 0px 1px gray;
}

/*吸顶效果*/
.box{
position: -webkit-sticky;
position: sticky;
top: 0px;
}

aside{
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}