/*一般设置*/
html,
body{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color:gray;
}


/*整体布局*/
nav {
  font-size:5px;
  border-bottom:1px black solid;
  display: flex;
  margin-bottom: 10px;
  height:50px;
    
}

main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  font-size:15px;
}
 
footer {
  height:100px;
  color:white;
  background-color:black;
}


/*主体*/
  /*主栏*/
section {
  flex: 2.5; 
}

section>div,
section>div>div{
  display:flex;
}

.text{
  width:160px;
  font-size:10px;
}

.scene{
  width:80px;
  height:80px;
}

.pa{
  background-color:rgb(241, 241, 241) ;
  margin:10px;
}

section div h3{
  margin-right:30px;
}

section div span{
  display:flex;
  border-bottom:1px gray solid;
  padding-bottom:20px;
}

.head{
  width:30px;
  height:30px;
  position:relative;
  margin-top:20px;
}

.picture{
  height:100px;
  width:200px;
  position:relative;
  margin-top:20px;
  margin-left:220px;
}

.word{
  position: relative;
  margin-left:15px;
}


  /*侧边栏*/
aside {
  flex: 1;
  margin-left: 10px;
  border:1px solid black;
  position:fixed;
  margin-left:800px;
  margin-top:30px;
  width:330px;
  height:70%;
    
}

table {
  margin:0 auto;
  padding: 10px;
}

table a{
  color:gray;
}

table+div p:first-child{
  color:rgb(0, 200, 255);
  font-size:80%;
}

table+div{
  background-color:rgb(241, 241, 241);
  margin:10px;
}



/*导航*/
nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}
  
nav li {
  display: inline;
  text-align: center;
  flex: 1;
}
  
nav a {
  display:flex;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
  transition-duration: 200ms;
}
  
nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}
  
nav a:hover {
  color: black;
    
  transition-duration: 200ms;
}
  
input {
  font-size: 1.6rem;
  height: 32px;
}
  
input[type="search"] {
  flex: 3;
}
  
input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

#p1{
  width:30px;
  height:30px;
}


/*页脚*/
footer div {
  margin-left:40%;
  margin-top:20px;
}

