html,
body{
    margin:0;
    padding:0;
    background-color:rgb(243, 243, 243);
}

.container{
    width:350px;
    height:450px;
    border-radius:15px;
    box-shadow: 0.5px 0.5px 0px 1px gray;
    margin-left:35%;
    background-color:white;
    padding:10px;
}

.favicon{
    width:80px;
    height:80px;
}



	
.zy {/*将输入框设置在网页最中央,可有可无,主要是好看*/
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*设置文本框样式*/
input {
    border: none;/*去掉边框*/
    outline: none;/*去掉获取焦点时的样式*/
    float: left;/*字体显示在最右边*/
}
/*设置div样式，这里为了将小眼睛放入文本框中，用了一个笨方法，将文本框边框全部去了，
然后拿一个div将眼睛和文本框套起来，给div加上边框后，就另类的完成了*/
#as {
    border: 1px solid #000;
}


